@font-face { font-family: Trajan; src: url('fonts/trajanpro-regular.otf');}
@font-face { font-family: Trajanbold; src: url('fonts/trajanpro-bold.otf');}
@font-face { font-family: Franklin; src: url('fonts/franklin.otf');}
body { margin: 0; padding: 0; background-color: #474747; background-image: url('images/bg.jpg'); background-repeat: repeat; font-family: "Georgia", "Times New Roman"; font-size: 12px; line-height: 21px; color: #404040;}
tr.odd td, tr.even td { padding: 0.3em;}
h1, h1 a { font-size: 31px; line-height: 33px; margin: 0 0 5px 0; font-weight: normal; letter-spacing: -1px; color: #000;}
h4, h5, h6 { font-size: 1.1em;}
h3.title, h3.title a { color: #010101; font-size: 14px; line-height: 16px; font-weight: normal; font-style: italic;}
.node p { margin: 0 0 20px 0;}
a { text-decoration: none; font-weight: normal;}
a:link { color: #4dbce9;}
a:visited { color: #4dbce9;}
a:hover { color: #4dbce9; text-decoration: underline;}
fieldset { border: 1px solid #ccc;}
pre { background-color: #eee; padding: 0.75em 1.5em; font-size: 12px; border: 1px solid #ddd;}
table { width: 100%;}
#mright ul, #mright ul li { padding: 0!important; margin: 0!important;}
ul li { list-style: none!important;}
.form-item label { font-size: 1em; color: #222; display: inline; margin: 0 10px 0 0;}
.item-list .title { font-size: 1em; color: #222;}
.node .links { margin-top: 10px;}
.links { margin-bottom: 0;}
.comment .links { margin-bottom: 0;}
.block { font-size: 11px; line-height: 18px; color: #666;}
.block p { margin: 3px 0;}
.block, .box { clear: both; padding: 15px 0;}
#header .block { margin: 0;}
h2.title, h2.title a { font-family: "Georgia","Times New Roman"; font-size: 18px; line-height: 20px; color: #000; font-weight: normal; font-style: italic;}
.node { margin: 0 0 15px 0; padding: 0 0 15px 0; border-bottom: 1px #bfbfbf solid;}
.sticky { padding: .5em; background-color: #eee; border: solid 1px #ddd;}
.node .picture { border: 1px solid #ddd; float: right; margin: 0.5em;}
.comment { float: left; border-bottom: 1px #e5e5e5 dashed; padding: 15px 0;}
.comment .title a { font-size: 1.1em; font-weight: normal;}
.comment .new { text-align: right; font-weight: bold; font-size: 0.8em; float: right; color: red;}
.comment .content { float: right; font-size: 11px; line-height: 18px; color: #7f7f7f;}
#edit-comment-wrapper textarea { height: 100px; font-family: "Georgia","Times New Roman"; font-size: 11px; line-height: 18px; color: #7f7f7f;}
.comment .picture { float: left; margin: 0 15px 0 0; display: inline;}
.comment h3 { line-height: 14px; margin: 0 0 5px 0;}
#edit-subject-wrapper input { font-family: "Georgia","Times New Roman"; color: #010101; font-size: 14px; line-height: 16px; font-weight: normal; font-style: italic;}
.comment .picture img { float: left;}
.comment div.links { width: 100%; float: right;}
.comment ul.links { float: right;}
.comment .submitted { float: left;}
.block-region { clear: both;}

#aggregator .feed-source { background-color: #eee; border: 1px solid #ccc; padding: 1em; margin: 1em 0;}
#aggregator .news-item .categories, #aggregator .source, #aggregator .age { color: #999; font-style: italic; font-size: 0.9em;}
#aggregator .title { margin-bottom: 0.5em; font-size: 1em;}
#aggregator h3 { margin-top: 1em;}
#forum table { width: 100%;}
#forum td { padding: 0.5em;}
#forum td.forum, #forum td.posts { background-color: #eee;}
#forum td.topics, #forum td.last-reply { background-color: #ddd;}
#forum td.container { background-color: #ccc;}
#forum td.container a { color: #555;}
#forum td.statistics, #forum td.settings, #forum td.pager { height: 1.5em; border: 1px solid #bbb;}
#forum td .name { color: #96c;}
#forum td .links { padding-top: 0.7em; font-size: 0.9em;}
#profile .profile { clear: both; border: 1px solid #abc; padding: .5em; margin: 1em 0em;}
#profile .profile .name { padding-bottom: 0.5em;}
.block-forum h3 { margin-bottom: .5em;}
div.admin-panel .description { color: #999;}
div.admin-panel .body { background: #f4f4f4;}
div.admin-panel h3 { background-color: #69c; color: #fff; padding: 5px 8px 5px; margin: 0;}

.mholder { width: 900px; margin: 0 auto;}
.bgholder { width: 840px; float: left; background-color: #fff; margin: 55px 0 0 0; padding: 20px 30px;}

/* HEADER starts */
#header { width: 100%; float: left;}
#logo { float: left; margin: 0 10px 5px 0; display: inline;}
#logo img { float: left;}
.header-content { width: 362px; float: right; padding: 0 0 0 10px;}
#header .block { float: right;}
#header .block h2 { display: none;}
#header .block#block-views-twitter-block_1 { background-image: url('images/twitter.gif'); background-position: 0 20px; background-repeat: no-repeat; padding: 0 0 0 63px; color: #4a4a4a; font-size: 11px; line-height; 13px;}
#header .block#block-views-twitter-block_1 a { color: #4a4a4a;}
#header .block#block-views-twitter-block_1 .views-field-text { width: 100%; float: left;}
#header .block#block-views-twitter-block_1 .views-field-screen-name-1, #header .block#block-views-twitter-block_1 .views-field-created-time { color: #9a9a9a; float: left; display: inline;}
#header .block#block-views-twitter-block_1 .views-field-created-time { background-image: url('images/sq.png'); background-position: left center; background-repeat: no-repeat; margin: 0 0 0 5px; padding: 0 0 0 7px;}
#header .block#block-views-twitter-block_1 .content { width: 299px; background-color: #eaeaea; background-image: url('images/tweet-top.png'); background-repeat: no-repeat; margin: 0; padding: 10px 0 0 0; float: left;}
#header .block#block-views-twitter-block_1 .content .view { width: 279px; background-image: url('images/tweet-bot.png'); background-position: left bottom; background-repeat: no-repeat; margin: 0; padding: 0 10px 20px 10px; float: left;}
.site-name, .site-name a, .site-name a:link, .site-name a:visited, .site-name a:active { font-family: "Trajan", "Georgia"; font-size: 36px; color: #000; font-weight: normal; letter-spacing: -2px;}
.site-name a:hover { color: #777; text-decoration: none;}
.site-slogan { font-family: "Franklin", "Arial Narrow"; font-size: 14px; line-height: 16px; color: #adadad; text-transform: uppercase;}
#menu { width: 100%; float: left; margin: 20px 0 0 0;}
ul#navlist { float: left; margin: 0; padding: 0 0 30px 0;}
ul#navlist li { display: inline; float: left; margin: 0 0 0 20px; padding: 0 0 0 20px; border-left: 1px #7f7f7f solid;}
ul#navlist li.first { border: 0; margin: 0; padding: 0;}
ul#navlist li, ul#navlist li a { font-size: 12px; line-height: 14px; color: #7f7f7f; text-transform: uppercase; font-weight: normal;}
form#search-theme-form { float: right; margin: -5px 0 0 0; position: relative; z-index: 10;}
#search .form-item { margin: 0; float: left;}
#search label { display: none;}
#search input { background: none; border: 0; margin: 0; float: left; display: inline;}
#search input.form-text { width: 163px; height: 23px; background-color: #fff; background-image: url('images/searchfield.png'); background-repeat: no-repeat; margin: 0 5px 0 0; padding: 0 5px; font-size: 11px;}
#search input.form-submit { width: 22px; height: 22px; background-color: #bdbbb6; background-image: url('images/search.png'); background-repeat: no-repeat; padding: 0; font-size: 0; line-height: 0; cursor: pointer; color: #bdbbb6;}
/* HEADER ends */

/* MAIN CONTENT starts */
#precontent, #aftercontent { width: 100%; float: left;}
#content { width: 100%; float: left;}
#mission { margin: 0 0 10px 0; padding: 10px; background-color: #f5f5f5; color: #4a4a4a; font-style: italic; clear: both;}
#subnavlist, #copy { width: 100%; float: left;}
.links#subnavlist, .links#subnavlist a, #copy { font-size: 12px; line-height: 15px; color: #000; font-weight: normal; font-style: italic;}
ul#subnavlist { margin: 20px 0 7px 0; padding: 0;}
ul#subnavlist li { margin: 0 5px 0 0; padding: 0 0 0 10px; background-image: url('images/line.png'); background-position: left center; background-repeat: no-repeat; display: inline;}
ul#subnavlist li.first { background: none; padding: 0;}
#main { width: 580px; float: left;}
#main.mainadmin { width: 100%;}
#help { font-size: 0.9em; margin-bottom: 1em;}
.messages { background-color: #eee; border: 1px solid #ccc; padding: 0.3em; margin-bottom: 1em;}
.error { border-color: red;}
#mright { width: 240px; float: right;}
.field-field-news-image { float: left; margin: 0 15px 5px 0; display: inline;}
.field-field-news-image img { float: left;}
.submitted, .submitted a, .links, .links a { color: #646464; font-size: 10px; font-weight: normal;}
.node .submitted { width: 100%; float: left; margin: 0 0 10px 0;}
.node .content img { margin: 10px; display: inline;}
.taxonomy .links, .taxonomy .links a { color: #4dbce9;}
ul.links li { margin: 0 5px 0 0; display: inline; padding: 0;}
.category-items { margin: 0 0 0 -40px; display: inline; float: left;}
.category { width: 400px; float: left; line-height: 18px; margin: 0 0 35px 40px; display: inline;}
.cat-name { font-size: 28px; line-height: 28px; color: #010101; float: left;}
.cat-readmore, .cat-readmore a { font-size: 10px; line-height: 28px; color: #cc0022; float: right; text-decoration: underline;}
.cat-last { width: 100%; float: left; border-top: 1px #b7b5b4 solid; margin: 10px 0 0 0; padding: 10px 0 0 0;}
.cat-last img { float: left; margin: 0 10px 5px 0; display: inline;}
.category h2 { margin: 0;}
.category h2, .category h2 a { font-size: 14px; font-style: italic; font-weight: normal; color: #010101;}
.box h2.title { font-size: 28px; line-height: 30px; font-weight: normal; margin: 0; color: #000;}
.indented  { display: inline; float: left; margin: 0; padding: 0 0 0 20px;}
.taxonomy { clear: both;}

/* slider */
#slider { width: 100%; margin: 0 0 20px 0; float: left;}
.slider-item { width: 100%; float: left; display: none;}
.slider-item img { float: left; margin: 0 10px 5px 0; display: inline;}
.slider-item .title { font-size: 49px; line-height: 51px; letter-spacing: -2px;}
a.readmore { display: block; width: 90px; height: 21px; background-color: #bdbbb6; background-image: url('images/readmore.jpg'); background-repeat: no-repeat; float: left; text-align: center; color: #fff; font-weight: normal;}
a.readmore:hover { text-decoration: none; color: #777;}
#controls { margin: 5px 0 0 0; float: left;}
#controls a { cursor: pointer; width: 7px; height: 6px; line-height: 0; font-size: 0; background-color: #d8d8d8; background-image: url('images/notact.gif'); background-repeat: no-repeat; float: left; margin: 0 4px 0 0; display: inline;}
#controls a.active { background-color: #aeaeae; background-image: url('images/act.gif');}
/* MAIN CONTENT ends */

/* FOOTER starts */
#footer { width: 900px; margin: 0 auto; padding: 25px 0; clear: both; text-align: right;}
#footer, #footer a { font-size: 10px; line-height: 15px; color: #949494; font-style: italic;}
.copyright { clear: both;}
/* FOOTER ends */
